//Colors
$primary-color: #2671f2;
$secondary-color: #0b0d0e;
$logo-gradient: linear-gradient(to bottom right, #f9d423 0%, #f83600 100%);
$secondary-color-light: lighten(
  $color: $secondary-color,
  $amount: 5
); //#161a1c
$text-color: #bfbfbf;

//Dimensions
$toolbar-height: 4.375rem;
