<section class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      <ul>
        <li><a href="#overview">Overview</a></li>
        <li>
          <a href="#technologies--tools-used"># Technologies & Tools Used</a>
        </li>
        <li>
          <a href="#why-did-i-do-this-project">Why Did I Do This Project?</a>
        </li>
        <li><a href="#challenges">Challenges</a></li>
        <li>
          <a href="#development-process">Development Process</a>
          <ul>
            <li><a href="#phase-1-planning">Phase 1: Planning</a></li>
            <li><a href="#phase-2-coding">Phase 2: Coding</a></li>
            <li><a href="#phase-3-refactoring">Phase 3: Refactoring</a></li>
          </ul>
        </li>
        <li>
          <a href="#my-top-takeaways">My Top Takeaways</a>
          <ul>
            <li><a href="#angular-ecosystem">Angular Ecosystem</a></li>
            <li><a href="#responsive-images">Responsive Images</a></li>
            <li><a href="#persistency">Persistency</a></li>
          </ul>
        </li>
        <li><a href="#future-scope">Future Scope</a></li>
        <li><a href="#credits">Credits</a></li>
      </ul>
    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="overview">Overview</h1>
      <p>
        <strong>"Agency"</strong> is a corporate website landing page. It is
        fully responsive in design. This website is developed as a personal
        project of mine to refurbish my front-end web development skills.
      </p>
      <h1 id="technologies--tools-used"># Technologies &amp; Tools Used</h1>
      <p>
        Angular, Angular Material, HTML, CSS, Sass, JavaScript ES6, TypeScript,
        Git, GitHub, Zeplin, PhotoShop
      </p>
      <h1 id="why-did-i-do-this-project">Why Did I Do This Project?</h1>
      <p>
        After grasping the fundamentals of front-end web development, I decided
        to sharpen my skills by working on some projects. Therefore, I came up
        with the idea to develop this responsive website.
      </p>
      <h1 id="challenges">Challenges</h1>
      <p>
        The design template I’ve chosen for this project was designed with big
        screens (i.e. laptops, desktops) in mind.
      </p>
      <ul>
        <li>
          My first challenge was to make this design responsive so that the
          users can have a smooth experience in all devices irrespective of the
          screen sizes.
        </li>
        <li>
          Another challenge I encountered, was with the images. There are in
          total of 18 images in this website. Some of them were very large in
          file size (2 MB+). It drastically affected the initial loading time of
          the website (5-7s according to Lighthouse audit).
        </li>
      </ul>
      <h1 id="development-process">Development Process</h1>
      <h2 id="phase-1-planning">Phase 1: Planning</h2>
      <p>
        Before diving into coding, I like to think for a while to outline a
        strategy. I usually don’t spend too much time planning. I seek to be as
        AGILE as possible.<br />
        During this phase, I basically decided which technologies &amp; tools I
        would use in this project.
      </p>
      <h2 id="phase-2-coding">Phase 2: Coding</h2>
      <p>
        As I mentioned earlier, my <strong>first challenge</strong> was to make
        this website responsive. I applied <strong>“CSS Flexbox”</strong> &amp;
        <strong>“Media Queries”</strong> to accomplish that.<br />
        You can visit the
        <a
          href="https://github.com/snsakib/agency-landing-page"
          title="GitHub repo"
          >GitHub repo</a
        >
        for this project &amp; explore the codebase.
      </p>
      <h2 id="phase-3-refactoring">Phase 3: Refactoring</h2>
      <p>
        After developing the MVP (Minimum Viable Product) of my website, I
        turned my attention into small details.<br />
        To resolve my <strong>second challenge</strong>, I optimized the images
        &amp; was able to reduce the file sizes by 30% on average. I applied the
        <strong>“srcset”</strong> attribute to dynamically render images
        depending on the screen size (small images on small screens &amp; large
        images on large screens). As a result,
        <strong>the initial loading time reduced to 0.9-1s.</strong>
      </p>
      <h1 id="my-top-takeaways">My Top Takeaways</h1>
      <h2 id="angular-ecosystem">Angular Ecosystem</h2>
      <p>
        This project tested my knowledge on overall Angular ecosystem. It helped
        me to explore the whole process of “Creating To Deploying” an Angular
        app.
      </p>
      <h2 id="responsive-images">Responsive Images</h2>
      <p>
        After working on this project, I’m now capable of optimizing images for
        achieving a better performance.
      </p>
      <h2 id="persistency">Persistency</h2>
      <p>
        To be honest, there were times I couldn’t figure out what went wrong. At
        points, I felt devasted. But I never thought of quitting. This lesson of
        grit will be very useful not only for achieving my career goals but also
        in my personal development.
      </p>
      <h1 id="future-scope">Future Scope</h1>
      <p>
        Every project has some deficiencies, this project is no exception to
        that.<br />
        In the near future, I’ll work on
      </p>
      <ul>
        <li>Accessibility</li>
        <li>Implementing <a href="http://getbem.com/" title="BEM">BEM</a></li>
        <li>Testing</li>
      </ul>
      <h1 id="credits">Credits</h1>
      <p>
        Since I’m not a user-interface (UI) designer, I googled for designs
        &amp; eventually found
        <a
          href="https://www.behance.net/gallery/73804499/Agency-Website-Free-Template-PSD"
          title="this PSD template"
          >this PSD template</a
        >.<br />
        A huge thanks to
        <a href="https://www.behance.net/ndavidsan" title="Nelson David Sánchez"
          >Nelson David Sánchez</a
        >
        for allowing me to use this template for free.
      </p>
    </div>
  </div>
</section>
