<section id="home">
  <img
    id="profile-picture"
    src="assets/images/profile-picture.png"
    alt="Profile picture"
    style="width: 280px; height: 280px"
  />
  <div id="intro">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 91.4 9"
      id="name"
    >
      <g>
        <path
          d="M4.1,2.3L4.1,2.3c0-0.5-0.2-0.8-0.5-0.8H1.5C1.2,1.5,1,1.9,1,2.3v0c0,0.4,0.2,0.8,0.5,0.8h1.9c0.5,0,1,0.3,1.3,0.9
     c0,0,0,0.1,0.1,0.1c0.2,0.5,0.4,1,0.4,1.7c0,1.5-0.8,2.7-1.7,2.7H1.7C0.8,8.4,0,7.2,0,5.8h1c0,0.6,0.3,1.2,0.7,1.2h1.7
     c0.4,0,0.8-0.5,0.8-1.2c0-0.6-0.3-1.2-0.8-1.2H1.5c-0.4,0-0.8-0.2-1-0.6C0.4,3.9,0.3,3.7,0.3,3.6C0.1,3.3,0,2.8,0,2.3v0
     C0,1,0.6,0,1.5,0h2.2c0.8,0,1.5,1,1.5,2.3v0L4.1,2.3z"
        />
        <path
          d="M5.2,8.4L5.2,8.4L5.2,8.4L5.2,8.4z M10.6,0L8.5,4.2L8.4,4.4v4h-1V4.5L7.3,4.2L5.2,0h1.2l1.5,3l1.5-3H10.6z M10.6,8.4
     L10.6,8.4L10.6,8.4L10.6,8.4z"
        />
        <path
          d="M11.5,2.3v0.8H15v1.5h-3.5v1.6c0,0.4,0.2,0.8,0.5,0.8h4v1.5h-4c-0.8,0-1.5-1-1.5-2.3V2.3C10.5,1,11.2,0,12,0h4v1.5h-4
     C11.7,1.5,11.5,1.9,11.5,2.3z"
        />
        <path
          d="M19.4,0c1.5,0,2.7,1.9,2.7,4.2c0,1-0.2,2-0.6,2.7c0,0.1-0.1,0.2-0.2,0.3c-0.5,0.8-1.2,1.2-1.9,1.2h-2.7V0L19.4,0z
      M17.7,6.9h1.7c1,0,1.7-1.2,1.7-2.7c0-1.5-0.8-2.7-1.7-2.7h-1.7V6.9z"
        />
        <path
          d="M32.1,0v8.4l-1-1.2l-3.5-4.2v5.3h-1V0l1,1.2l3.5,4.2V0L32.1,0z"
        />
        <path
          d="M38.1,8.4H37l-0.5-1.5l-1.2-3.6l-1.2,3.6l-0.5,1.5h-1.1l0.5-1.5L35.3,0l2.3,6.9L38.1,8.4z"
        />
        <path
          d="M44,6.9v1.5h-4.2l0,0h-1.2l0,0l0.7-1.5l1.3-2.7L41.3,3L42,1.5h-3.4V0h4.2H44l-0.8,1.5l-1.3,2.7l-0.6,1.2l-0.7,1.5H44z"
        />
        <path
          d="M50.2,0v8.4h-1V3.1l-1,1.1l-0.8,0.9l-0.8-0.9l-1-1.1v5.3h-1V0l1,1.2l1.7,2.1l1.7-2.1L50.2,0z"
        />
        <path
          d="M56.4,0v4.2c0,2.3-1.2,4.2-2.7,4.2s-2.7-1.9-2.7-4.2V0h1v4.2c0,1.5,0.8,2.7,1.7,2.7s1.7-1.2,1.7-2.7V0H56.4z"
        />
        <path
          d="M61.3,2.3L61.3,2.3c0-0.5-0.2-0.8-0.5-0.8h-2.2c-0.3,0-0.5,0.3-0.5,0.8v0c0,0.4,0.2,0.8,0.5,0.8h1.9c0.5,0,1,0.3,1.3,0.9
     c0,0,0,0.1,0.1,0.1c0.2,0.5,0.4,1,0.4,1.7c0,1.5-0.8,2.7-1.7,2.7h-1.7c-0.9,0-1.7-1.2-1.7-2.7h1c0,0.6,0.3,1.2,0.7,1.2h1.7
     c0.4,0,0.8-0.5,0.8-1.2c0-0.6-0.3-1.2-0.8-1.2h-1.9c-0.4,0-0.8-0.2-1-0.6c-0.1-0.1-0.1-0.2-0.2-0.4c-0.2-0.4-0.3-0.8-0.3-1.3v0
     C57.1,1,57.8,0,58.6,0h2.2c0.8,0,1.5,1,1.5,2.3v0L61.3,2.3z"
        />
        <path
          d="M71,2.3L71,2.3c0-0.5-0.2-0.8-0.5-0.8h-2.2c-0.3,0-0.5,0.3-0.5,0.8v0c0,0.4,0.2,0.8,0.5,0.8h1.9c0.5,0,1,0.3,1.3,0.9
     c0,0,0,0.1,0.1,0.1c0.2,0.5,0.4,1,0.4,1.7c0,1.5-0.8,2.7-1.7,2.7h-1.7c-0.9,0-1.7-1.2-1.7-2.7h1c0,0.6,0.3,1.2,0.7,1.2h1.7
     c0.4,0,0.8-0.5,0.8-1.2c0-0.6-0.3-1.2-0.8-1.2h-1.9c-0.4,0-0.8-0.2-1-0.6c-0.1-0.1-0.1-0.2-0.2-0.4c-0.2-0.4-0.3-0.8-0.3-1.3v0
     C66.8,1,67.5,0,68.3,0h2.2c0.8,0,1.5,1,1.5,2.3v0L71,2.3z"
        />
        <path
          d="M77.5,8.4h-1.1l-0.5-1.5l-1.2-3.6l-1.2,3.6l-0.5,1.5H72l0.5-1.5L74.7,0L77,6.9L77.5,8.4z"
        />
        <path
          d="M81,3.4l2.3,5h-1.2l-1.9-4l-1.4,1.9v2.1h-1V0h1v4.3l0.8-1.1l0.7-1L82,0h1.4L81,3.4z"
        />
        <path d="M84.2,8.4V0h1v8.4H84.2z" />
        <path
          d="M91.3,5.7c0,1.5-0.8,2.7-1.7,2.7h-3.7V0h3.4c0.8,0,1.5,1,1.5,2.3c0,0.5-0.1,0.9-0.2,1.2C91,4,91.3,4.8,91.3,5.7z M86.9,3
     h2.5c0.3,0,0.5-0.3,0.5-0.8c0-0.4-0.2-0.8-0.5-0.8h-2.5V3z M89.6,6.9c0.4,0,0.8-0.5,0.8-1.2S90,4.5,89.6,4.5h-2.7v2.4L89.6,6.9
     L89.6,6.9z"
        />
      </g>
    </svg>

    <h2 id="profession">Front-End Developer</h2>
    <p id="punchline">Consistently Developing, Testing & Upgrading Myself</p>
  </div>
</section>

<section id="about">
  <p>May peace be upon you!</p>

  <p>
    As speaking of myself, I'm 25; born & raised in Bangladesh; perceptive,
    communicative & adaptive in nature.
  </p>

  <p>
    Since my major was Electrical & Electronics Engineering, people often ask me
    why am I switching career. The truth is, during my sophomore year I started
    learning web developing as a hobby. As days passed by, my curiosity for it
    gradually increased & finally after graduation decided to embrace it as my
    profession.
  </p>

  <p>
    Some of my professional expertise include developing
    <span class="highlight-text">Single Page Applications</span> &
    <span class="highlight-text">Responsive Websites</span>. I am proficient in
    converting
    <span class="highlight-text">Prototypes to Pixel Perfect Code</span>. I
    personally prefer to work in
    <span class="highlight-text">Angular</span> environment but always willing
    to learn & implement new technologies for accomplishing project goals. While
    working in any project I always give priority to
    <span class="highlight-text">user-experience</span>,
    <span class="highlight-text">performance</span> &
    <span class="highlight-text">accessibility</span>.
  </p>

  <!-- <p>
    To refurbish my skills I've completed some
    <a routerLink="/projects">personal projects</a>. Explore them all & don't
    forget to send me some feedback. Your criticisms are always welcomed.
  </p> -->

  <!-- <p>
    Though I don't know everything, I feel delighted to teach others what I've
    learned so far. Read <a routerLink="/blog">my blog</a> & send me your
    thoughts.
  </p> -->

  <p id="cta">
    I'm currently available for hire. You can
    <a id="hireMe" href="mailto:contact@snsakib.com">Hire Me</a> in your team or
    assign me on a solo project.
    <a
      id="resume"
      href="assets/resume/Resume of Syed Nazmus Sakib (Front-end web developer).pdf"
      >View My Resume</a
    >.
  </p>

  <p>
    If you have any queries, feel free to send me an email at
    <a href="mailto:contact@snsakib.com">contact@snsakib.com</a>
  </p>

  <p>
    You can join me on
    <a
      href="https://www.linkedin.com/in/s-n-sakib"
      target="_blank"
      rel="noopener"
      class="contact-link"
    >
      <object
        data="../../assets/images/sprite.svg#svgView(viewBox(116,0,24,24))"
        type="image/svg+xml"
      ></object>
    </a>
    <a
      href="https://www.twitter.com/syed_n_sakib"
      target="_blank"
      rel="noopener"
      class="contact-link"
    >
      <object
        data="../../assets/images/sprite.svg#svgView(viewBox(87,0,24,24))"
        type="image/svg+xml"
      ></object>
    </a>
    <a
      href="https://github.com/snsakib"
      target="_blank"
      rel="noopener"
      class="contact-link"
    >
      <object
        data="../../assets/images/sprite.svg#svgView(viewBox(58,0,24,24))"
        type="image/svg+xml"
      ></object>
    </a>
  </p>
</section>
