@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'mixins';
@import 'host';
@import 'scrollbar';
@import 'responsive-x-padding';

$width: 400px;

:host {
  @extend .host;
  @extend .bg-image;
  @extend .responsive-x-padding;
  @extend .scrollbar;
  height: calc(100vh - #{$toolbar-height});
  color: $text-color;

  //Scrollbar stlyles
  scrollbar-color: #ff571a transparent;

  &::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, right bottom, from(#f9d423), to(#f83600));
    background: linear-gradient(to bottom right, #f9d423 0%, #f83600 100%);
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}

#home {
  height: 100%;

  #intro {
    @media (min-width: 550px) {
      display: grid;
      grid-template-columns: 150px auto;
      grid-column-gap: 2rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    #profile-picture {
      margin: 2rem 0;
    }

    #general-info {
      #name {
        font-size: 1.9rem;
        font-weight: 500;

        @include breakpointMin(tablet) {
          font-size: 2.2rem;
        }
      }

      #profession {
        font-size: 1.5rem;
        margin: 1rem 0;
      }

      #tagline {
        font-size: 1.3rem;
      }
    }
  }
}

#about {
  line-height: 2em;
  font-size: 1.3rem;
  margin: 2rem 0 5rem 0;

  #page-links {
    max-width: $width;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .page-link {
      @extend .highlight-link;
      padding: 0.2em 0.5em;
    }
  }

  #call-to-action {
    @include breakpointMin(laptop) {
      display: grid;
      grid-template-columns: 25rem auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    #hire-me {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: $width;
      height: 2.5rem;
      font-size: 1.3rem;
      font-weight: 500;
      text-decoration: none;
      color: $secondary-color;
      border-radius: 3px;
      margin-bottom: 2rem;
      background-image: -webkit-gradient(
        linear,
        left top, right bottom,
        from(#f9d423),
        to(#f83600)
      );
      background-image: linear-gradient(
        to bottom right,
        #f9d423 0%,
        #f83600 100%
      );

      @include breakpointMin(laptop) {
        margin-bottom: 0;
      }
    }

    #contact-links {
      max-width: $width;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 3rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      @include breakpointMin(laptop) {
        grid-column-gap: 1.3rem;
      }

      .contact-link {
        height: 3rem;
        width: 3rem;

        @include breakpointMin(laptop) {
          height: 2.5rem;
          width: 2.5rem;
        }

        svg {
          pointer-events: none;
          margin: 5px;
        }
      }
    }
  }
}
