@import "../../../node_modules/warp.css/scss/pages/bg";
@import "../../../node_modules/warp.css/scss/layout/x-padding";
@import "../../../node_modules/warp.css/scss/components/scrollbar";
@import "../../../node_modules/warp.css/scss/base/typography";
@import "../../../node_modules/warp.css/scss/utils/mixins";
@import "../../assets/styles/variables";

:host {
  @extend .bg;
  @extend .x-padding;
  @extend .scrollbar;
  display: block;
  position: relative;
  min-height: calc(100vh - #{$toolbar-height});
  color: $normal-text-color;
  font-size: 1.3rem;
  line-height: 2rem;

  @include breakpointMin(mobile-l) {
    font-size: 1.4rem;
  }
}

p {
  margin: 2.5rem 0;
}
