<img class="image" src="assets/images/profile picture.png" alt="Profile picture" />
<section class="intro">
  <h1 id="name">Syed Nazmus Sakib</h1>
  <h2 id="profession">Front-End Web Developer</h2>
</section>

<section class="about">
  <p class="punchline">
    Developing, Testing, Upgrading Myself & Always Will Be
  </p>

  <p>May peace be upon you!</p>

  <p>
    As speaking of myself, I like to lead my life in a simple & ethical way. I'm imperfect in many many ways so always
    trying to remain humble.
  </p>

  <p>
    Since my major was Electrical & Electronics Engineering, people often ask me why am I switching career. The truth
    is, during my sophomore year I started learning web developing as a hobby. As days passed by, my curiosity for it
    gradually increased & finally after graduation decided to embrace it as my profession.
  </p>

  <p>
    Some of my professional expertise include developing <span class="highlight">Single Page Applications</span> &
    <span class="highlight">Responsive Websites.</span> I am
    proficient in converting <span class="highlight">Prototypes to Pixel Perfect Code</span>. I personally prefer to
    work in <span class="highlight">Angular</span> environment
    but always willing to learn & implement new technologies for accomplishing project goals. While working in any
    project I always give priority to
    <span class="highlight">user-experience</span>,
    <span class="highlight">performance</span> &
    <span class="highlight">accessibility.</span>
  </p>

  <p>
    To put my theoretical knowledge into practice I've completed some personal projects. Explore my projects <a
      routerLink="/projects">here.</a></p>

  <!-- <p>Though I don't know everything, I feel delighted to teach others what I've learned so far. Read my blog <a
      routerLink="/blog">here.</a></p> -->

  <p>
    I'm currently available for hire. Highly interested in working at a friendly workplace where I can implement my
    skills, learn from my co-workers & evolve to a better version of myself.
  </p>

  <p id="cta">
    <a id="hireMe" href="mailto:contact@snsakib.com" mat-flat-button>Hire Me</a>
    <a id="resume" href="assets/resume/Resume of Syed Nazmus Sakib (Front-end Developer).pdf">View My Resume</a>
  </p>

  <p>
    If you have any queries, feel free to send me an email at <a href="mailto:contact@snsakib.com">contact@snsakib.com</a>
  </p>

  <p>
    You can join me on
    <a href="https://www.linkedin.com/in/s-n-sakib" target="_blank" rel="noopener" class="contact-link">
      <img src="../../assets/images/linkedin.svg" alt="linkedin logo" />
    </a>
    <a href="https://www.twitter.com/syed_n_sakib" target="_blank" rel="noopener" class="contact-link">
      <img src="../../assets/images/twitter.svg" alt="twitter logo" />
    </a>
    <a href="https://github.com/snsakib" target="_blank" rel="noopener" class="contact-link">
      <img src="../../assets/images/github.svg" alt="github logo" />
    </a>
  </p>
</section>
