@import "../../../node_modules/warp.css/scss/pages/bg";
@import "../../../node_modules/warp.css/scss/layout/x-padding";
@import "../../../node_modules/warp.css/scss/components/scrollbar";
@import "../../../node_modules/warp.css/scss/utils/mixins";
@import "../../assets/styles/variables";

:host {
  @extend .bg;
  @extend .x-padding;
  @extend .scrollbar;
  display: block;
  position: relative;
  min-height: calc(100vh - #{$toolbar-height});
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 1px solid red;
}

#blog-post {
  border: 1px solid blue;
  padding: 0;
}

.post-header {
  width: 100%;
  height: 100px;
  background-color: lighten($color: $background-color, $amount: 5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
