@import "../../../node_modules/warp.css/scss/base/typography";
@import "../../../node_modules/warp.css/scss/pages/bg";
@import "../../../node_modules/warp.css/scss/layout/x-padding";
@import "../../../node_modules/warp.css/scss/components/scrollbar";
@import "../../../node_modules/warp.css/scss/utils/mixins";
@import "../../assets/styles/variables";

:host {
  @extend .bg;
  @extend .x-padding;
  display: block;
  position: relative;
  min-height: calc(100vh - #{$toolbar-height});
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#blog-post {
  margin: 0 auto;
  padding: 0;
  color: $normal-text-color;
  @include breakpointMin(tablet) {
    width: 75%;
  }

  @include breakpointMin(laptop) {
    width: 80%;
  }
}

.post-header {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: lighten($color: $background-color, $amount: 5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .post-title {
    @extend .gradient-text;
    margin: 0;
    font-size: 2rem;
  }

  .post-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
}

.banner-image {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 3px;
}

section {
  margin-bottom: 4rem;

  .section-header {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }

  .section-content {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .section-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    svg {
      height: 4rem;
      width: 4rem;
    }
  }

  .section-dl {
    font-size: 1.3rem;
    line-height: 2rem;

    &-term {
      color: white;
      font-style: oblique;
    }

    &-description {
      margin: 0.5rem 0 2rem;
    }
  }

  .section-ul {
    font-size: 1.3rem;
    line-height: 2rem;
    list-style-type: disc;
    padding: 1rem 0 0 2rem;
  }

  a {
    color: $normal-text-color;
  }
}
