<section id="projects">
  <mat-card>
    <img
      mat-card-image
      src="../../assets/images/projects/uni.jpg"
      alt="project 1 screenshot"
    />
    <mat-card-content>
      <h1 class="project-title text-gradient">Project Title</h1>
      <h2 class="project-category highlight-text">Project Category</h2>
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat
        ducimus quos quidem saepe numquam maxime hic. Minus molestiae autem
        voluptatum, repellat delectus facere voluptatibus modi alias non? Quo,
        reiciendis!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="#" class="demo-btn">LIVE DEMO</a>
      <a href="#" class="case-study-btn">CASE STUDY</a>
    </mat-card-actions>
  </mat-card>
</section>
