@import "../../assets/styles/variables";
@import "../../assets/styles/helpers";
@import "host";
@import "scrollbar";

$img-height: 30rem;
$footer-height: 7rem;
$project-height: calc(#{$img-height}+#{$footer-height});

:host {
  @extend .host;
  @extend .page-horizontal-padding;
  @extend .scrollbar;

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
  }

  scrollbar-color: $primary-color $bg-color;
  height: calc(100vh - #{$toolbar-height});
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.page-title {
  color: $primary-color;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 1px;
}

.projects {
  min-width: 28rem;
  max-width: 60rem;
  margin: 5rem auto 0;

  .project {
    width: 100%;
    height: $project-height;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background-color: black;

    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }

    &:hover {
      border: 1px solid $primary-color;
    }

    img {
      width: 100%;
      height: $img-height;
    }

    &-footer {
      height: $footer-height;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .project-intro {
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-align: left;
        padding: 1rem 2rem;

        h1 {
          font-size: 2rem;
          color: $primary-color;
        }

        p {
          font-size: 1.6rem;
          margin-top: 1rem;
          color: $text-color;
        }
      }

      a {
        text-decoration: none;
        color: $primary-color;
        font-size: 3rem;
        padding: 1.5rem;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;

        &:hover {
          background-color: $bg-color-light;
        }
      }
    }
  }
}
