@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'host';
@import 'mixins';
@import 'responsive-x-padding';

:host {
  @extend .host;
  @extend .bg-image;
  @extend .responsive-x-padding;
  height: calc(100vh - #{$toolbar-height});
}

#projects {
  width: 100%;
  height: 100%;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  color: $text-color;
  width: 100%;
  height: 80%;
  border: 1px solid transparent;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include breakpointMin(tablet) {
    width: 35rem;
    height: 20rem;
  }
}

.project-title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;

  @include breakpointMin(laptop) {
    font-size: 2.5rem;
    margin-top: -22px;
  }
}

.project-category {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 60%;
  font-size: 1.2rem;
  font-weight: 500;
  color: $secondary-color;
}

#links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @media screen and (min-width: 450px) {
    width: 60%;
  }

  #demo-link,
  #case-link {
    display: block;
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.3em 1em;
    border-radius: 3px;
    background-image: -webkit-gradient(
      linear,
      left top, right bottom,
      from(#f9d423),
      to(#f83600)
    );
    background-image: linear-gradient(
      to bottom right,
      #f9d423 0%,
      #f83600 100%
    );
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-image: -webkit-gradient(linear, right bottom, left top, from(#f9d423), to(#f83600));
      background-image: linear-gradient(to top left, #f9d423 0%, #f83600 100%);
    }
  }

  #case-link {
    color: darkorange;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5);

    &:hover {
      color: $secondary-color;
    }
  }
}

/* Number text (1/3 etc) */
.numberText {
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Next & previous buttons */
.prev,
.next {
  display: none;

  @include breakpointMin(tablet) {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 3px;

    svg {
      fill: $text-color;
    }
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.user-instruction {
  color: $text-color;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @include breakpointMin(tablet) {
    display: none;
  }
}

/* Fading animation */
.fade {
  -webkit-animation: fade 1s ease-in-out;
  animation: fade 1s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
