@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'host';
@import 'mixins';
@import 'responsive-x-padding';

:host {
  @extend .host;
  @extend .bg-image;
  @extend .responsive-x-padding;
  height: calc(100vh - #{$toolbar-height});
}

#projects {
  width: 100%;
  height: 100%;
}
