<p class="page-title">Things I've done so far...</p>
<div class="projects">
  <div class="project" *ngFor="let project of projects">
    <img src="{{ project.imagePath }}" alt="{{ project.alt }}">
    <div class="project-footer">
      <div class="project-intro">
        <h1>{{ project.projectTitle }}</h1>
        <p>{{ project.description }}</p>
      </div>
      <a href="{{ project.liveDemoLink }}" title="View Project" target="_blanck" rel="noopener">
        &#11179;
      </a>
    </div>
  </div>
</div>
