@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'mixins';
@import 'host';
@import 'responsive-x-padding';

:host {
  @extend .host;
  @extend .bg-image;
  @extend .responsive-x-padding;
  height: calc(100vh - #{$toolbar-height});
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

#contact {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @include breakpointMin(tablet) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#contact-links {
  .contact-link {
    font-size: 1.25rem;
    text-decoration: none;
    width: 17.5rem;
    margin: 1.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      @extend .highlight-link;
      height: 100%;
      padding: 0.4em 0.3em;
      background-size: 100% 1px;
      background-position: left 0 bottom 0;

      &:hover {
        color: $text-color;
      }
    }

    &:hover {
      span {
        background-size: 100% 100%;
        color: $secondary-color;
      }
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.625rem;
      fill: $primary-color;
      pointer-events: none;
    }
  }
}

#note {
  color: $text-color;
  font-size: 1rem;
  width: 17.5rem;

  h1 {
    font-style: italic;
  }

  p {
    margin: 1rem 0;
    line-height: 1.2rem;
  }
}
