<section class="container">
  <a
    href="mailto:contact@snsakib.com"
    target="_blanck"
    rel="noopener"
    class="contact-link"
  >
    <object
      data="../../assets/images/sprite.svg#svgView(viewBox(29,0,24,24))"
      type="image/svg+xml"
    ></object>
    contact@snsakib.com
  </a>
  <a
    href="https://www.linkedin.com/in/s-n-sakib"
    target="_blanck"
    rel="noopener"
    class="contact-link"
  >
    <object
      data="../../assets/images/sprite.svg#svgView(viewBox(116,0,24,24))"
      type="image/svg+xml"
    ></object>
    /in/s-n-sakib
  </a>
  <a
    href="https://www.twitter.com/syed_n_sakib"
    target="_blanck"
    rel="noopener"
    class="contact-link"
  >
    <object
      data="../../assets/images/sprite.svg#svgView(viewBox(87,0,24,24))"
      type="image/svg+xml"
    ></object>
    @syed_n_sakib
  </a>
  <a
    href="https://github.com/snsakib"
    target="_blanck"
    rel="noopener"
    class="contact-link"
  >
    <object
      data="../../assets/images/sprite.svg#svgView(viewBox(58,0,24,24))"
      type="image/svg+xml"
    ></object>
    /snsakib
  </a>
</section>
