@import 'variables';
@import 'helpers';

:host {
  @extend .host;
  padding-top: 15rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;

  @include breakpointMin(tablet) {
    font-size: 5rem;
  }

  a {
    color: $primary-color;
  }
}

.iconImg {
  padding: 15px;

  &:hover {
    background-color: lighten($color: $bg-color, $amount: 5);
  }
}
