@import '../../assets/styles/variables';
@import 'host';
@import 'mixins';
@import 'responsive-x-padding';

.sidenav-container {
  height: 100vh;

  .sidenav {
    width: 12.5rem;
    background-color: $bg-color;

    .mat-toolbar {
      background-color: $bg-color;
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;

      #sidenav-logo {
        width: 3.125rem;
        height: 3.125rem;
      }
    }

    mat-nav-list {
      a {
        color: $secondary-color;
        font-size: 1.25rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &.active {
          color: $primary-color;
          border-top: 1px solid $primary-color;
          border-bottom: 1px solid $primary-color;
        }

        &:hover {
          color: $primary-color;
          background-color: lighten($color: $bg-color, $amount: 5);
        }
      }
    }
  }

  mat-sidenav-content {
    background-color: $bg-color;

    mat-toolbar {
      @extend .responsive-x-padding;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: $toolbar-height;
      z-index: 1;
      background-color: $bg-color;
      color: $secondary-color;

      #menuIcon {
        background-color: $bg-color;
        margin-right: 1.25rem;
        padding: 0.625rem;
        color: $secondary-color;
        font-size: 1.875rem;
        border: none;

        &:focus {
          outline: none;
        }
      }

      #navbar-logo {
        width: 2.1875rem;
        height: 2.1875rem;
        display: block;

        object {
          width: 2.1875rem;
          height: 2.1875rem;
          pointer-events: none;
        }
      }

      mat-nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin-left: auto;

        a {
          height: $toolbar-height;
          color: $text-color;
          font-size: 1.25rem;
          border-bottom: 2px solid transparent;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;

          &.active {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
          }

          &:hover {
            color: $primary-color;
            background-color: lighten($color: $bg-color, $amount: 5);
          }
        }
      }
    }

    #router-outlet-container {
      position: relative;
    }
  }
}
