@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'host';
@import 'mixins';
@import 'responsive-x-padding';

.sidenav-container {
  height: 100vh;

  .nav-link {
    color: $text-color;
    font-size: 1.25rem;

    &.active,
    &:hover {
      span {
        @extend .text-gradient;
      }
    }
  }

  .sidenav {
    width: 12.5rem;
    background-color: $secondary-color;

    mat-nav-list {
      margin-top: $toolbar-height;
    }
  }

  mat-sidenav-content {
    background-color: $secondary-color;

    mat-toolbar {
      @extend .responsive-x-padding;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: $toolbar-height;
      z-index: 1;
      background-color: $secondary-color;
      color: $secondary-color;

      #menuIcon {
        background-color: $secondary-color;
        margin-right: 1.25rem;
        padding: 0.625rem;
        color: $text-color;
        font-size: 1.875rem;
        border: none;

        &:focus {
          outline: none;
        }
      }

      #navbar-logo {
        width: 2.1875rem;
        height: 2.1875rem;
        display: block;

        object {
          width: 2.1875rem;
          height: 2.1875rem;
          pointer-events: none;
        }
      }

      mat-nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin-left: auto;
      }
    }

    #router-outlet-container {
      position: relative;
    }
  }
}
