<mat-sidenav-container
  class="sidenav-container"
  (swiperight)="drawer.open()"
  (swipeleft)="drawer.close()"
>
  <!-- Menu -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    role="navigation"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a
        *ngFor="let page of pages"
        mat-list-item
        routerLink="{{ page.routerLink }}"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="nav-link"
        ><span>{{ page.linkText }}</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isLaptop ? false : true"
        id="menuIcon"
      >
        <!-- menu icon -->
        &#9776;
      </button>
      <a routerLink="/about" id="navbar-logo">
        <!-- Logo -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 104 104"
          fill="none"
        >
          <path
            fill="url(#paint0_linear)"
            fill-rule="evenodd"
            d="M2 1H1v103h103V1H2zm2 100V4h97v97H4zm66-68H52l18 20V33zM33 45l24 28 10-2c2-2 3-5 3-9L46 33c-4 0-8 1-10 3s-3 5-3 9zm17 28L33 53v20h17z"
            clip-rule="evenodd"
          />
          <defs>
            <linearGradient
              id="paint0_linear"
              x1="1"
              x2="104"
              y1="1"
              y2="104"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#F9D423" />
              <stop offset="1" stop-color="#F83600" />
            </linearGradient>
          </defs>
        </svg>
      </a>
      <mat-nav-list *ngIf="isLaptop">
        <a
          *ngFor="let page of pages"
          mat-list-item
          routerLink="{{ page.routerLink }}"
          routerLinkActive="active"
          class="nav-link"
          ><span>{{ page.linkText }}</span>
        </a>
      </mat-nav-list>
    </mat-toolbar>

    <!-- router outlet -->
    <div id="router-outlet-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
