<mat-sidenav-container
  class="sidenav-container"
  (swiperight)="drawer.open()"
  (swipeleft)="drawer.close()"
>
  <!-- Menu -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    role="navigation"
    mode="over"
    opened="false"
  >
    <mat-toolbar>
      <!-- Logo -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <defs>
          <linearGradient
            id="logo-gradient"
            x1="0.5"
            x2="0.5"
            y2="1"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0" stop-color="#ff5722" />
            <stop offset="0.512" stop-color="#ff1f4a" />
            <stop offset="1" stop-color="#f700ad" />
          </linearGradient>
          <g id="logo">
            <path
              d="M26.19 0H100v28.57H28.57v7.14h45.24a14.3 14.3 0 0114.1 12.1A14.3 14.3 0 01100 61.9v11.91a14.3 14.3 0 01-12.09 14.1A14.3 14.3 0 0173.81 100H0V71.43h71.43v-7.14H26.19a14.3 14.3 0 01-14.1-12.1A14.3 14.3 0 010 38.1V26.19a14.3 14.3 0 0112.09-14.1A14.29 14.29 0 0126.19 0zm69.05 16.67H14.29a9.53 9.53 0 00-9.53 9.52V38.1a9.55 9.55 0 007.14 9.22V23.81h83.34zm-11.91 69V64.29h-7.14v23.8H4.76v7.15h69.05a9.53 9.53 0 009.52-9.53zM4.76 83.33h66.67v-7.14H4.76zm19-54.76h-7.09V50a9.53 9.53 0 009.52 9.52h61.9V83a9.54 9.54 0 007.15-9.22V61.9a9.53 9.53 0 00-9.53-9.52h-61.9zM95.24 4.76h-69A9.54 9.54 0 0017 11.9h78.24zM28.57 40.48v7.14H83a9.54 9.54 0 00-9.22-7.14z"
              fill="url(#logo-gradient)"
            />
          </g>
        </defs>
        <use href="#logo"/>
      </svg>
    </mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let page of pages"
        mat-list-item
        routerLink="{{ page.routerLink }}"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="nav-link"
        ><span>{{ page.linkText }}</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isLaptop ? false : true"
        id="menuIcon"
      >
        <!-- menu icon -->
        &#9776;
      </button>
      <a routerLink="/home" id="navbar-logo">
        <!-- Logo -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <use href="#logo"/>
        </svg>
      </a>
      <mat-nav-list *ngIf="isLaptop">
        <a
          *ngFor="let page of pages"
          mat-list-item
          routerLink="{{ page.routerLink }}"
          routerLinkActive="active"
          class="nav-link"
          ><span>{{ page.linkText }}</span>
        </a>
      </mat-nav-list>
    </mat-toolbar>

    <!-- router outlet -->
    <div id="router-outlet-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
