<section id="blog">
  <section id="heading">
    <p>
      What are you going to learn today?
    </p>

    <!-- <section id="filter">
      <select name="postFilter" id="postFilter">
        <option value="default">Filter posts by category</option>
        <option
          value="{{ postFilterOption }}"
          *ngFor="let postFilterOption of postFilterOptions"
          >{{ postFilterOption }}</option
        >
      </select>
    </section> -->
  </section>

  <section id="topics">
    <ul>
      <li class="topic" *ngFor="let topic of topics">
        <a class="topic-link" routerLink="/">
          <h1 class="gradient-text">{{ topic.name }}</h1>
          <p>
            {{ topic.totalPosts }}
          </p>
        </a>
      </li>
    </ul>

    <!-- <section id="pagination">
      Pagination
    </section> -->
  </section>
</section>
