@import '../../assets/styles/variables';
@import '../../assets/styles/helpers';
@import 'host';
@import 'responsive-x-padding';

:host {
  @extend .host;
  @extend .bg-image;
  @extend .responsive-x-padding;
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

h1 {
  color: $primary-color;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 3.125rem 0;
}

.post {
  max-width: 43.75rem;
  padding: 0.625rem;
  margin: 0 auto 1.875rem;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: lighten($color: $secondary-color, $amount: 5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  h1 {
    font-size: 1.25rem;
    margin: 0 0 0.625rem 0;
    font-weight: 400;
  }

  p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.125rem;
    color: $text-color;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $primary-color;
  }
}
