@import '../../../node_modules/warp.css/scss/pages/bg';
@import '../../../node_modules/warp.css/scss/layout/x-padding';
@import '../../../node_modules/warp.css/scss/components/scrollbar';
@import '../../../node_modules/warp.css/scss/utils/mixins';
@import '../../assets/styles/variables';

:host {
  @extend .bg;
  @extend .x-padding;
  @extend .scrollbar;
  display: block;
  position: relative;
  min-height: calc(100vh - #{$toolbar-height});
}

#blog {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#heading {
  color: $normal-text-color;
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; // add 'space-between' after filter is added

  @include breakpointMin(tablet) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#filter {
  margin: 2rem 0;

  @include breakpointMin(tablet) {
    width: 17.5rem;
    margin: 2rem 0 2rem 2rem;
  }

  #postFilter {
    border: 1px solid $normal-text-color;
    width: 100%;
    height: 2rem;
    background-color: $background-color;
    color: $normal-text-color;
  }
}

#topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .topic {
    margin: 2rem 1rem;
    width: 200px;
    height: 180px;
    text-align: center;
    background-color: lighten($color: $background-color, $amount: 5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .topic-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      text-decoration: none;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.2rem;
        color: $normal-text-color;
      }

      &:hover {
        border: 1px solid $primary-color;
      }
    }
  }
}

#pagination {
  height: 3rem;
  background-color: gray;
}
