@import '../../../assets/styles/variables';
@import '../../../assets/styles/helpers';
@import 'mixins';
@import 'host';
@import 'responsive-x-padding';

:host {
  @extend .bg-image;
  @extend .responsive-x-padding;
  @extend .custom-scrollbar;
  display: block;
  min-height: calc(100vh - #{$toolbar-height});
  color: $normal-text-color;
}
