/* You can add global styles to this file, and also import other style files */

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

//sass partial style sheets
@import '../src/assets/styles/variables';

//resets custom browser rules
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
