path {
  fill: transparent;
  stroke: url("#logo-gradient");
  stroke-width: 1;
  stroke-dasharray: 1775.094970703125;
  stroke-dashoffset: 1775.094970703125;
  -webkit-animation: drawLine 1s ease-in-out infinite alternate;
  animation: drawLine 1s ease-in-out infinite alternate;
}

// Line drawing animation rules
@-webkit-keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}
