//Helper classes for stylings

.bg-image {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #0b0d0e), to(#22282b));
  background-image: linear-gradient(to bottom right, #0b0d0e 50%, #22282b 100%);
}

.text-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a3bded), to(#6991c7));
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-clip: text; /*This is not yet valid. Use it for future proof */
  -webkit-background-clip: text; /*Must use '-webkit-' */
  color: transparent;
}

.highlight-text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.2em 0.3em;
  background-image: linear-gradient(-225deg, #5753c9 30%, #6e7ff3 100%);
  background-size: 100% 0.2em;
  background-repeat: no-repeat;
  background-position: left 0 bottom 5%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-size: 100% 100%;
  }
}
