//Helper classes for stylings

@import './variables';
@import './utils/mixins';

.flat-button {
  background-color: $primary-color;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 3rem;
  padding-right: 3rem;
  color: $secondary-color;
}
